.header {
  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
    padding: 0 60px;
    background: #1E1E1E;
    font-family: "Play";
    font-style: normal;
    font-weight: bold;
    @media (max-width: 991px) {
      padding: 0 20px;
    }
    @media (max-width: 767px) {
      height: 50px;
    }
  }
  &__bottom {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    padding: 0 60px;
    background: linear-gradient(90deg, #8338FD 0%, #38FD92 112.95%);
    font-family: "Play";
    font-style: normal;
    font-weight: bold;
    @media (max-width: 991px) {
      padding: 0 20px;
      height: 100px;
    }
  }
}

.actions-header {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  &__item {
    padding: 0 20px;
    border-left: 2px solid rgba(189, 163, 155, 0.30);
    &:first-child {
      border: none;
    }
    @media (max-width: 767px) {
      padding: 0 15px;
    }
  }
  &__lable {
    margin-bottom: 3px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
    color: $accentColor;
    text-align: right;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__phone {
    background: url(../img/icons/header/call.svg) left no-repeat;
    padding: 0 0 0 30px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    @media (max-width: 767px) {
      display: inline-block;
      width: 24px;
      height: 24px;
      padding: 0;
      font-size: 0;
      line-height: 14px;
    }
  }
  &__login {
    background: url(../img/icons/header/login.svg) left no-repeat;
    padding: 0 0 0 30px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    @media (max-width: 767px) {
      background: none;
      padding: 0;
    }
  }
  &__reg {
    background: url(../img/icons/header/reg.svg) left no-repeat;
    padding: 0 0 0 30px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
    @media (max-width: 767px) {
      background: none;
      padding: 0;
    }
  }
  &__basket {
    position: relative;
    background: url(../img/icons/header/basket.svg) left no-repeat;
    padding: 0 0 0 30px;
    span {
      position: absolute;
      bottom: 10px;
      right: -12px;
      background: $accentColor;
      padding: 3px 8px;
      border-radius: 15px;
      font-size: 14px;
      line-height: 12px;
      text-decoration: none;
      color: #fff;
    }
  }
  
}

.bottom-header {
  &__logo {
    width: 60px;
    line-height: 10px;
    @media (max-width: 991px) {
      width: 50px;
    }
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.nav {
  &__body {
    @media (max-width: 767px) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 50px;
      left: 0;
      padding: 90px 20px 30px 20px;
      overflow: auto;
      background-color: #8338fd;
      transform: translateX(100%);
      transition: transform 0.5s;
      &_active {
        transform: translateX(0);
      }
    }
  }
  &__list {
    display: flex;
    @media (max-width: 767px) {
      flex-direction: column;
      align-items: center;
    }
    li {
      list-style: none;
      margin: 0px 40px 0px 0px;
      @media (max-width: 767px) {
        margin: 0 0 40px 0;
      }
      &:last-child {
        margin: 0;
      }
      @media (max-width: $maxWidthContainer) {
        margin: 0px 40px / $maxWidthContainer * 100vw 0px 0px;
      }
    }
  }
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 4px 10px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    @media (max-width: 991px) {
      font-size: 14px;
    }
    @media (min-width: 992px) {
      &:hover {
        background: rgba(255, 255, 255, 0.3);
        border-radius: 12px;
      }
    }
    @media (max-width: 767px) {
      padding: 0;
      font-size: 20px;
    }
  }
}

.btn-nav {
  display: none;
  @media (max-width: 767px) {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    transition: all 0.5s;
    overflow: hidden;
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 2px;
      background-color: #fff;
      transition: all 0.5s;
      &:first-child {
        top: calc(50% - 10px) ;
      }
      &:last-child {
        top: calc(50% + 10px);
      }
    }
    &_active {
      span {
        &:first-child {
          top: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateX(100%);
        }
        &:last-child {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
      }
    }
  } 
}
